/* Apply Bootstrap styles for compatibility */
/* Feel free to adjust these styles according to your preferences */

/* Center the form */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  body {
    background: #f0f0f0; /* Change this to your desired background color */
  }
  
  /* Form styles */
  .col-md-4 {
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }
  
  h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
  }
  
  /* Input field styles */
  .form-group {
    position: relative;
    margin: 30px 0;
  }
  
  .form-control {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
  }
  
  /* Highlight label on input focus and input value */
  .form-control:focus + label,
  .form-control:valid + label {
    top: -5px;
    color: #2691d9;
  }
  
  /* Button style */
  .btn {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
  }
  
  .btn-primary {
    background: #2691d9;
    color: #e9f4fb;
    font-weight: 700;
  }
  
  /* Responsive margin for the submit button */
  .btn-block {
    margin: 20px 0;
  }

  .error {
    color: red;
  }
  
  /* Adjust the form on smaller screens */
  @media (max-width: 767px) {
    .col-md-4 {
      width: 90%;
      padding: 10px;
    }
  
    h1 {
      font-size: 24px;
    }
  }
  